BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 9pt; BACKGROUND: #ffffff; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: Verdana, ו, Arial, Helvetica, sans-serif
}
DIV#nsbanner {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; POSITION: relative
}
DIV#nstext {
	PADDING-RIGHT: 12px; MARGIN-TOP: -20px; PADDING-LEFT: 12px; LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV#bannerrow2 {
	BACKGROUND-COLOR: #99ccff
}
IMG {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.buttonbartable {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; LEFT: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; POSITION: relative; TOP: 0px; BORDER-COLLAPSE: collapse; HEIGHT: 20px; BORDER-RIGHT-WIDTH: 0px
}
.bannerparthead {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; LEFT: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; POSITION: relative; TOP: 0px; BORDER-COLLAPSE: collapse; HEIGHT: 20px; BORDER-RIGHT-WIDTH: 0px
}
TABLE.buttonbartable TD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; BORDER-LEFT-COLOR: #99ccff; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #99ccff; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; BORDER-TOP-COLOR: #99ccff; PADDING-TOP: 0px; FONT-STYLE: normal; HEIGHT: 20px; BORDER-RIGHT-WIDTH: 0px; BORDER-RIGHT-COLOR: #99ccff
}
TABLE.buttonbarshade TD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; BORDER-LEFT-COLOR: #99ccff; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #99ccff; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; BORDER-TOP-COLOR: #99ccff; PADDING-TOP: 0px; FONT-STYLE: normal; HEIGHT: 20px; BORDER-RIGHT-WIDTH: 0px; BORDER-RIGHT-COLOR: #99ccff
}
TABLE.buttonbartable TD.runninghead {
	PADDING-RIGHT: 0px; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
DIV.feedbackarea {
	DISPLAY: none
}
