<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://127.0.0.1:1999/MessageService" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IMessageService" contract="WCFContract.IMessageService"
          name="">
        <identity>
          <userPrincipalName value="Ace\Administrator" />
        </identity>
      </endpoint>
    </client>
    <bindings>
      <!--这里的sendTimeout比服务端的要多出4秒，因为服务端不参入具体通信，它只是提供服务-->
      <netTcpBinding>
        <binding name="NetTcpBinding_IMessageService" sendTimeout="00:00:15" >
          <reliableSession enabled="true" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
