A:hover {
	COLOR: #bcd402; TEXT-DECORATION: none
}
#MySignature {
	PADDING-RIGHT: 5px; PADDING-LEFT: 80px; BACKGROUND: url(http://space.cnblogs.com/pic/face/u82235.jpg) #fffefe no-repeat 15px 50%; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#MySignature DIV {
	LINE-HEIGHT: 21px; PADDING-TOP: 10px
}
