<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpbinding" listenBacklog="3" maxConnections="50" maxReceivedMessageSize="72036757" maxBufferSize="72036757" maxBufferPoolSize="78888524" />
      </netTcpBinding>
    </bindings>
    <!--WCF服务ABC-->
    <services>
      <service name="CacheWCFService.CacheWCFService">
        <endpoint address="mex" binding="mexHttpBinding" name="mexEndPoint" contract="IMetadataExchange" listenUriMode="Explicit">
        </endpoint>
        <endpoint address="net.tcp://localhost:2999/CacheBusiness" binding="netTcpBinding" contract="CacheBusiness.ICacheWCF">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:3012/CacheBusiness/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>